header,
main,
footer{
    display:block;
    clear: both;
}

h1{
    font-size: 20px;
}

section,
aside{
    display:block;
    margin:20px;
    max-width:600px;
    float:left;
}

#zonaCiudades,
#zonaOpciones,
#zonaModificadores{
    display:block;
    border:2px solid blue;
    margin:10px;
}

select{
    display:block;
}

div{
    margin:10px 0px;
}