body{
    background-color: lightgrey;
    display: block;
    font-family: arial;
}
h1{
    text-align: center;
    margin: 0px;
    letter-spacing: 10px;

}
p{
    border:2px black dashed;
    background-color: #969494;
    width: 170px;
    height: 170px;
    padding: 10px;
    float: left;
    margin:10px;
}
p::first-letter{
    font-size: 31px;
    float: left;
    color: #3A3535;
    font-weight: bold;
}