html{
    background-color: #444547;
    font-family: Arial;
}
body{
    margin: 0px;
}
.item-flex{
    display: flex;
    width: 120px;
    height: 120px;
    color: goldenrod;
    background-color: white;
    border-radius: 6px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;    
    font-size: 5em;
}
#contenedor-flexible1{
    display: flex;
    margin-bottom: 20px;
}
#contenedor-flexible2{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
#contenedor-flexible3{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
#contenedor-flexible4{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
#contenedor-flexible5{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
#contenedor-flexible6{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column-reverse;
}
#contenedor-flexible7{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
#contenedor-flexible8{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap-reverse;
}
#contenedor-flexible9{
    display: flex;
    height: 500px;
    margin-bottom: 20px;
}
#contenedor-flexible9 .item-flex{
    align-items: stretch;
    height: auto;
    flex: left;
}
#contenedor-flexible10{
    display: flex;
    height: 300px;
    margin-bottom: 20px;
    align-items: flex-end;
}
#contenedor-flexible11{
    display: flex;
    height: 400px;
    margin-bottom: 20px;
    align-items: center;
}
#contenedor-flexible12{
    display: flex;
    height: 1000px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: space-between;
}